@font-face {
    font-family: 'betterday';
    src: url(../font/Betterday.otf);
}
@font-face {
    font-family: 'big-deal';
    src: url(../font/aBigDeal.ttf);
}
@font-face {
    font-family: 'creamy-sunset';
    src: url(../font/Creamy\ Sunset.ttf);
}
@font-face {
    font-family: 'simply-diet';
    src: url(../font/Simply\ Diet.ttf);
}

.table{
    margin-top: 25px;
    background-color: silver;
}

body {
    background-color: purple ;
}

.tambah {
    background-color: yellow;
}

.hapus {
    background-color: red;
}

.ubah{
    background-color: aqua;
}

.container h2{
    color:white;
    margin-left:50%;
}